oscontainer{
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transform-origin: bottom left;
	min-width: 4000px;
	padding-bottom: var(--grid);
	white-space: nowrap;
	margin:  auto;
	overflow: hidden;
}

osh{

}

oswarning{
	display: inline-block;
	color: var(--pink);

	white-space: normal;
	width: calc( var(--grid)*4 );
	background: url('../img/icon/icon-alert-triangle.svg');
	background-size: calc( var(--grid)*2 );
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: calc( var(--grid)*2 );

}

osbg, osfg{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

osscreen{
	width: 33.3%;
	height: 100%;
	display: inline-block;
	position: relative;
	white-space: normal;
	text-align: center;
	vertical-align: middle;
}

osalerts{
	display: block;
	animation: throb infinite 0.5s;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: var(--grid);
}

osbox{
	display: inline-block;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
}

osgradient{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: radial-gradient(transparent, transparent, transparent, rgba(255,255,255,0.1));
}

ospanel{
	display: inline-flex;
	position: relative;
}

osvert{
	background: var( --black );
	width: var( --grid );
}

osvert:first-of-type{
	border-radius: var( --grid ) 0px 0px var( --grid );
}

osvert:last-of-type{
	border-radius: 0px var( --grid ) var( --grid ) 0px;
}

osmiddle{
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
}

osinner{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

osinner video{
	border-radius: var(--grid);
}

osframe{
	border-radius: calc( var(--grid) * 2 );
	border: var(--grid) solid var(--black);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: calc( -1 * var(--grid) );
}

oshorz{
	display: block;
	height: calc( var(--grid) / 2);
	background: var( --black );
	width: 100%;
	box-sizing: border-box;
	padding: 0px var(--grid);
	text-align: left;

}

oshorz[size=thicc]{
	height: var(--grid);
}

osh{
	text-align: left;
	background: black;
	padding: 0px var(--border);
	font-size: var(--grid);
	line-height: 35px;
}
