

toyframe{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: calc( var(--grid)*2 );
	box-sizing: border-box;
}

osmsg{
	display: block;
	padding:  calc( var(--grid)*8 ) var(--grid);
	color: white;
	z-index: 100;
	text-align: center;
	font-size: var(--grid);
}

osmsgword{
	display: inline-block;
	position: relative;
	color: white;
	margin: 0px 5px;
	text-transform: uppercase;
}

toycorner{
	width: calc( var(--grid) * 1.5 );
	height: calc( var(--grid) * 1.5 );
	position: absolute;
	border-color: var(--yellow);
	border-style: solid;
}

toycorner:nth-of-type(1){ top: 0px; left: 0px; border-width: var(--border) 0px 0px var(--border); }
toycorner:nth-of-type(2){ top: 0px; right: 0px; border-width: var(--border) var(--border) 0px 0px; }
toycorner:nth-of-type(3){ bottom: 0px; right: 0px; border-width: 0px var(--border) var(--border) 0px; }
toycorner:nth-of-type(4){ bottom: 0px; left: 0px; border-width: 0px 0px var(--border) var(--border); }

oscontainer{
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transform-origin: bottom left;
	min-width: 5000px;
	padding-bottom: var(--grid);
	white-space: nowrap;
	margin:  auto;
	overflow: hidden;
}

osh{

}

osoverlay{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: calc( var(--grid) * 2 );
	background: rgba(0,0,0,0.8);
	color: var(--pink);
	line-height: calc( var(--grid) * 1.8 );
	font-size: var(--grid);
}

oswarning{
	display: inline-block;
	color: var(--pink);

	white-space: normal;
	width: calc( var(--grid)*4 );
	background: url('../img/icon/icon-alert-triangle.svg');
	background-size: calc( var(--grid)*2 );
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: calc( var(--grid)*2 );

}

osbg, osfg{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

osscreen{
	width: 33.3%;
	height: 100%;
	display: inline-block;
	position: relative;
	white-space: normal;
	text-align: center;
	vertical-align: middle;

	perspective: 1000px;
}

osalerts{
	display: block;
	animation: throb infinite 0.5s;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: calc( var(--grid) * 6);
}

osbox{
	display: inline-block;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	transform-origin: bottom center;
	transform: rotateX(30deg);


}

ospanelglass{
	background: url(../img/glass.png);
	background-size: 100% 100%;
	position: absolute;
	top: calc(var(--grid) * -1);
	left: calc(var(--grid) * -0.7);
	right: calc(var(--grid) * -0.7);
	bottom: calc(var(--grid) * -0.5);
	opacity: 0.5;
	z-index: -1;
	display: none;
}

osboxinner{
	display: block;
	width: calc(var(--grid) * 12);
	height: calc(var(--grid) * 9);
	
	border-radius: var(--grid);
	position: relative;
	transition: all 0.5s;
	left: 0px;

	white-space: nowrap;


	
}

osboxinner[mode='toy']{
	height: calc(var(--grid) * 12);
	left: calc(var(--grid) * -12);
}

ostoy{
	display: inline-block;
	width: calc(var(--grid) * 12);
	height: calc(var(--grid) * 12);
	overflow: hidden;
	border-radius: var(--grid);
	vertical-align: top;
	position: relative;


}

osmenu{
	display: inline-block;
	width: calc(var(--grid) * 8);
	height: calc(var(--grid) * 8);
	overflow: hidden;
	border-radius: var(--grid);
	
	padding: calc(var(--grid) * 2);
	text-align: left;
	vertical-align: top;
}

@keyframes throb{
	0%{
		opacity: 1;
	}

	50%{
		opacity: 0.7;
	}

	100%{
		opacity: 1;
	}
}

osmenuitem{
	display: block;
	font-size: calc( var(--grid) / 2 );
	line-height: calc( var(--grid) - var(--border));
	height: calc( var(--grid) - var(--border));
	margin-bottom: var(--border);
	color: black;
	background: var(--pink);
	width: calc(var(--grid) * 7);
	border-radius: 0px calc( var(--grid) /2 ) calc( var(--grid) /2 ) 0px;
	margin-left: calc( var(--grid) );
	padding-left: calc( var(--grid)/4 );
	position: relative;

	animation: throb infinite 2s;
}

osmenuitem:before{
	content: "";
	width: calc( var(--grid) - var(--border));
	height: calc( var(--grid) - var(--border));
	position: absolute;
	left: calc( var(--grid)*-1 );
	top: 0px;
	background: var(--pink);
	display: block;

	animation: throb infinite 1s;
}

osmenuitem[bg='yellow']:before{ background:var(--yellow); }
osmenuitem[bg='blue']:before{ background:var(--blue); }
osmenuitem[bg='pink']:before{ background:var(--pink); }
osmenuitem[bg='orange']:before{ background:var(--orange); }

osgradient{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: radial-gradient(transparent, transparent, transparent, rgba(255,255,255,0.2));
	background: url(../img/overlay.png);
	background-size: 100% 100%;

	opacity: 0.5;
	display: none;
}

ospanel{
	display: inline-flex;
	position: relative;
}

osvert{
	display: flex;
	flex-direction: column;
	width: var( --grid );
	overflow: hidden;
	position: relative;
}

osvert:first-of-type{
	border-radius: var( --grid ) 0px 0px var( --grid );
}

osvert:last-of-type{
	border-radius: 0px var( --grid ) var( --grid ) 0px;
}

osmiddle{
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
}

osinner{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

osinner video{
	border-radius: var(--grid);
}

osframe{
	border-radius: calc( var(--grid) * 2 );
	border: var(--grid) solid var(--black);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: calc( -1 * var(--grid) );
}

oshorz[padded]{
	padding-left: var(--grid);
}

oshorz{
	display: flex;
	height: calc( var(--grid) / 2);
	
	width: 100%;
	box-sizing: border-box;
	
	text-align: left;
	position: relative;
}

ossegment{

}

osvert ossegment{
	width: 100%;
	flex-grow: 1;
}

oshorz ossegment{
	height: 100%;
	flex-grow: 1;
}

oshorz ossegment:first-of-type{
	width: calc( var(--grid) * 1.5 );
	flex-grow: 0;
	border-radius: 0px calc( var(--grid) / 4) calc( var(--grid) / 4) 0px;
}

oshorz ossegment:last-of-type{
	width: calc( var(--grid) * 1.5 );
	flex-grow: 0;
	border-radius: calc( var(--grid) / 4) 0px 0px calc( var(--grid) / 4);
}

oshorz[size=thicc]{
	height: var(--grid);
}

osh{
	text-align: center;
	padding: 0px var(--border);
	font-size: var(--grid);
	line-height: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: calc( var(--grid) / 2);
	text-shadow: 0px 0px 20px black, 0px 0px 50px black;
}

ostoastinner{
	display: block;
	padding: var(--grid);
}

ostoast{
	display: inline-block;
	position: absolute;
	bottom: calc( var(--grid) * 1 );

	transform-origin: bottom center;
	transform: rotateX(30deg);

	
}

[position="left"] ostoast{ left: calc( var(--grid) * 4 ); }
[position="right"] ostoast{ right: calc( var(--grid) * 4 ); }

