seq{
	
	display: block;
}

seq-r{
	display: block;
	line-height: 0px;
}

seq-c{
	width: var(--grid);
	height: var(--grid);
	border: 2px solid black;
	background: var(--purple);
	display: inline-block;
	position: relative;
	line-height: 40px;
	text-align: center;
	vertical-align: top;
	color:black;
	cursor: pointer;
	box-sizing: border-box;
}

seq-r:nth-of-type(4) seq-c:nth-of-type(4){ border-bottom-right-radius: 25%; }
seq-r:nth-of-type(4) seq-c:nth-of-type(5){ border-bottom-left-radius: 25%; }
seq-r:nth-of-type(5) seq-c:nth-of-type(4){ border-top-right-radius: 25%; }
seq-r:nth-of-type(5) seq-c:nth-of-type(5){ border-top-left-radius: 25%; }


seq.looper seq-c{
	border-radius: 100px;
}	

seq-c.selected{
	background: var(--green);
}