unscramble{
	font-size: calc(var(--grid)/2);
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: var(--grid);

	text-align: center;
	margin-top: var(--grid);
}

unscramble seq-c{
	
}

unscramble h2{
	font: inherit;
	color: var(--pink);
	text-transform:  uppercase;
	height: var(--grid);
	padding: 0px;
	margin: 0px;
}

unscramble button{
	display: inline-block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font: inherit;
	border: none;
	background: var(--cyan);
	border-top: 6px solid black;
	width: 400px;


}