brokenchat{
	display: block;
	font-size: 25px;
	padding: var(--grid);
}

brokenmessage{
	display: block;
	color: white;
	text-align: left;
	white-space: normal;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
}

messagetoken{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
}

messagetoken[type=word]{
	margin-right: 10px;
}

messagetoken[type=period]{
	left: -10px;
}
