melodymatch{

	position: relative;
	display: inline-block;
	
	padding: calc( var(--grid) * 2) 0px;
}

melodymatch.disabled:after{
	content: "Click to Enable";
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: white;
	text-align: center;
	line-height: 200px;
}

pitch-goal{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: var(--border);
	background: white;
	box-sizing: border-box;
	/*background: linear-gradient( to bottom, var(--yellow), transparent );*/
}

pitch-c{
	display: inline-block;
	width: calc( var(--grid));
	height: calc(var(--grid)*8);
	background: rgba(255,255,255,0.05);
	vertical-align: bottom;
	box-sizing: border-box;
	
	position: relative;
}

melodymatch toyframe{
	margin-left: 0px;
	margin-right: 0px;
}

pitch-c.active{
	background: rgba(255,255,255,0.2);
}

pitch-fill{
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50%;
	transition: 0.05s all;
	background: var(--blue);
}

pitch-c.live pitch-fill{
	transition: 0.1s height;
}