melodymatch{
	position: relative;
	display: inline-block;
	margin: calc( var(--grid) * 2) 0px;
	width: calc(var(--grid)*8);
	height: calc(var(--grid)*8);
}

melodymatch toyframe{
	margin: 0px;
}


melodymatch melodytracer{
	display: block;
	position: absolute;
	width: calc( var(--border) * 2);
	height: calc( var(--border) * 2);
	border: var(--border) solid var(--purple);
	background: black;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}

melodymatch melodyline{
	display: block;
	position: absolute;
	border-top: var(--border) dashed var(--purple);
	opacity: 0.5;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

melodymatch melodytarget{
	display: block;
	position: absolute;
	width: 10%;
	height: 10%;
	border: var(--border) solid var(--red);
	transform: translate(-50%, -50%);
	border-radius: 100%;
	box-sizing: border-box;
	border-color: var(--red);
	animation: throb infinite 0.5s;
}

melodymatch melodytarget[complete='true']{
	border-color: var(--cyan);
	z-index: 1;
	animation: none;
}

melodymatch melodytarget[complete='true']:after{
	content: "";
	border-bottom: var(--border) solid black;
	border-right: var(--border) solid black;
	width: 30%;
	height: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	transform: rotate(45deg);
	
}

melodymatch melodytarget:before{
	content: "";
	display: block;
	position: absolute;

	border: var(--border) solid var(--red);
	left: var(--border);
	top: var(--border);
	right: var(--border);
	bottom: var(--border);
	box-sizing: border-box;
	border-radius: 100%;
}

melodymatch melodyrecording{
	width: calc(var(--grid)*0.5);
	height: calc(var(--grid)*0.5);
	background: var(--red);
	position: absolute;
	top: calc(var(--grid)*0.5);
	right: calc(var(--grid)*0.6);
	border-radius: 100%;
	display: block;

	animation: throb infinite 0.5s;
}

melodymatch melodyrecording:after{
	content: "REC";
	display: block;
	position: absolute;
	left: calc(var(--grid)*-1);
	right: calc(var(--grid)*-1);
	top: calc(var(--grid)*0.6);
	color: var(--red);
	text-align: center;
}

melodymatch melodyfill{
	background: var(--cyan);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}

melodymatch svg{
	width: calc(var(--grid)*8);
	height: calc(var(--grid)*8);
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	fill: none;
	stroke: var(--purple);
	stroke-width: var(--border);
}

melodymatch[complete='true'] svg{
	stroke: var(--cyan);
}

melodymatch[complete='true'] melodytracer{
	display: none;
}

