melodymatch{

	position: relative;
	display: inline-block;
	
	padding: calc( var(--grid) * 2) 0px;
}

melodymatch.disabled:after{
	content: "Click to Enable";
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: white;
	text-align: center;
	line-height: 200px;
}

pitch-goal{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: calc( var(--border) * 2) solid var(--white);
	box-sizing: border-box;
	/*background: linear-gradient( to bottom, var(--yellow), transparent );*/
}

pitch-c{
	display: inline-block;
	width: calc( var(--grid)*2);
	height: calc(var(--grid)*8);
	background: rgba(255,255,255,0.05);
	vertical-align: bottom;
	box-sizing: border-box;
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: relative;
}

pitch-c:nth-of-type(1),
pitch-c:nth-of-type(6)
{
	opacity: 0.5;
}

pitch-c.active{
	background: rgba(255,255,255,0.2);
}

pitch-fill{
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50%;
	
}

pitch-c.live pitch-fill{
	transition: 0.1s height;
}