pitchrecorder{
	height: calc(var(--grid)*10);
	position: relative;
	display: inline-block;
	
	padding: calc( var(--grid) * 2);
}

pitchrecorder.disabled:after{
	content: "Click to Enable";
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: white;
	text-align: center;
	line-height: 200px;
}

pitch-c{
	display: inline-block;
	width: var(--grid);
	height: calc(var(--grid)*8);
	background: var(--purple-opaque);
	vertical-align: bottom;
	box-sizing: border-box;
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: relative;
}

pitch-fill{
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50%;
	
}

pitch-c.live pitch-fill{
	transition: 0.1s height;
}